@tailwind base;

:root {
    --success: #76d566;
    --danger: #d03d3d;
    --info: #38acc0;
    --warning: #c5c264;
    --primary-1: #f7f7f7;
    --primary-2: #f3f3f3;
    --primary-3: #efeff0;
    --primary-4: #efeff0;
    --accent-1: #afacac;
    --accent-2: #ccc9c9;
    --accent-3: #474255;
    --highlight: #38323f;
    --label: #494550;
    --shadow: rgba(0,0,0,0.50);
    --transparent: rgba(0,0,0,0);
    --basic: #743ee9;
    --red: #d74754;
    --green: #4fdf6d;
    --yellow: #edd447;
    --blue: #57bae7;
}

[data-theme="dark"] {
    --primary-1: #0f1115;
    --primary-2: #13151b;
    --primary-3: #16191e;
    --primary-4: #1a1c22;
    --accent-1: #2f303c;
    --accent-2: #4e4747;
    --accent-3: #bcb9c3;
    --highlight: #f1f0f2;
    --label: #7a7685;
}

/* disable color overlay on tap */
button, input, label, .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
}

/* disable android pull to refresh and rubberbanding */
body {
    overscroll-behavior-y: none;
}

/* css scrollbar style for firefox */
.overflow-y-auto, .overflow-x-auto {
    scrollbar-color: var(--accent-2) transparent ;
    scrollbar-width: thin;
}

/* css scrollbar style for webkit */
::-webkit-scrollbar {
    height: 6px;
    width:6px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--accent-2);
}

@tailwind components;

@tailwind utilities;